{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="products container">
    <h2>{{ category.name }}</h2>
        <div class="box-container" id="lista-1">
        {% for figurine in figurines %}
            <div class="box">
                <a href="{% url 'figurine_detail' figurine.pk %}">
                    {% if figurine.imagen %}
                        <img class="img" src="{{ figurine.imagen.url }}">
                    {% else %}
                        <li class="list-group-item" style="background-color: var(--bs-primary-bg-subtle);">
                            <p class="px-5">No hay imagen</p>
                        </li>
                    {% endif %}
                    <div class="products-txt">
                        <h3>{{ figurine.name }}</h3>
                    {% if figurine.is_sold %}
                        <p class="card-text">"Vendida"</p>
                    {% else %}
                    <p><img src="{% static "img/stock.png" %}" width="95", height="45" alt="Stock"></p>
                    {% endif %}
                    <p class="precio">Bo {{ figurine.price }}</p>
                    <a href="https://wa.me/59173917621?text=Hola,%20estoy%20interesado%20en%20{{ figura.nombre }}%20que%20cuesta%20${{ figura.precio }}.%20Aquí%20está%20el%20enlace:%20{{ request.build_absolute_uri(figura.get_absolute_url) }}" class="btn-2">
                        <img src="{% static 'img/whatsapp.png' %}" width="22" height="22" alt=""> Me interesa
                    </a>
                    </div>
                    
                </a>
            </div>
        {% endfor %}
        </div>

</main>
{% endblock %}
